<div class="route-one">
  <div class="route-one__first">
    <div class="route-one__second">
      <div class="route-one__third">
        <div class="route-one__fourth">
          <div class="route-one__fifth">
            <div class="route-one__sixth">
              <div class="route-one__seventh">
                <div class="route-one__eighth">
                  <span class="text">{{ data }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>